* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.header {
  width: 100%;
  background-color: #f8bfc7;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin-right: 15px;
}
.menu > ul {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 30px;
}

a:any-link {
  color: #ffffff;
  text-decoration: none;
}
.main {
  display: flex;
  background-size: cover;
  align-items: flex-start;
  justify-content: center;

  background-image: url(background.png);
  height: 643px;
  background-size: cover;
}

.rectangle_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.label {
  background: #ffd930;
  border: 5px solid #000000;
  border-radius: 20px;
  padding: 30px;
  margin: 0px;
  width: 300px;
  height: 365px;
}
.text {
  background-color: #336fd1;
  height: 200px;
  padding-top: 30px;
  font-size: 50px;
  color: #feb700;

  background-color: #336fd1;
  align-items: center;
  padding: 30px 35px 114px 35px;
  text-align: center;
  color: #ffd930;
}

.form-row {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  color: #000;
}
.footer {
  background-color: #f8bfc7;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  font-family: "Times New Roman";
  background-color: #ffd930;
  border: #ffd930;
  font-size: 20px;
  border-bottom: 1px solid #4b4b4b;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
  border: #ffd930;
  border-bottom: 1px solid #4b4b4b;
  color: #ff6500;
  box-shadow: none; /* Удалим красную подсветку по умолчанию в Firefox */
}

.form-row label {
  margin-bottom: 16px;
}

.form-row button {
  background: #f8bfc7;
  border: 5px solid #000000;
  border-radius: 30px;

  margin-top: 10px;
  width: 200px;
  height: 60px;

  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
.form-row button:active {
  background-color: #f1eeee;
}

.form-row button:hover {
  background-color: #eeeff1;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #4b4b4b;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #4b4b4b;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #4b4b4b;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #4b4b4b;
}
