* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 20px;
}
.header {
  background-color: #f8bfc7;
  height: 90px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  margin-right: 15px;
}

.menu > ul {
  display: flex;
  list-style: none;
}

.menu li {
  margin-left: 30px;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
}
