* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  font-weight: 400;
  font-size: 25px;
}
.header {
  width: 100%;
  height: 140px;
  padding: 0px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  background: #ffffff;
  color: #e50043;
  font-size: 50px;

  z-index: 1;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links li {
  margin-right: 25px;
}

.links li:last-of-type {
  margin-right: 0px;
}

.links ul {
  display: flex;
  list-style: none;
}

.footer {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #f8bfc7;
  font-size: 50px;
  color: #ffffff;
}
a:link,
a:visited {
  color: #e50043;
  text-decoration: none;
}
.hero {
  width: auto; /* Укажите ширину */
  height: 950px; /* Укажите высоту */
  background-image: url("images/evian_origins_logo.png"); /* Путь к изображению */
  background-size: cover; /* Растянуть изображение, сохраняя пропорции */
  background-position: top; /* Центрирование */
  background-repeat: no-repeat;
  position: relative;
}
.logo1 {
  height: 140px;
}
.hero h1 {
  font-weight: 400;
  font-size: 100px;
  color: #e50043;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap; /* Чтобы заголовок не переносился */
}

.text-one {
  margin: 150px auto;
  padding: 24px;
  border: 3px solid #f8bfc7;
  border-radius: 20px;
  max-width: 1040px;
  width: 100%;
}

.text-two {
  margin: 150px auto;
  display: flex;
  padding: 30px 30px 30px 80px;
  border: 3px solid #f8bfc7;
  border-radius: 20px;
  max-width: 1040px;
  width: 100%;
}
.glass {
  padding-right: 80px;
}
.bottles {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  max-width: 1040px;
  width: 100%;
}

.text {
  margin-top: 48px;
}
