* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  font-weight: 400;
  font-size: 25px;
}
.header {
  display: flex;
  justify-content: space-between;
  color: #e50043;
  padding: 50px;
  font-size: 50px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links li {
  margin-right: 25px;
}

.links li:last-of-type {
  margin-right: 0px;
}

.links ul {
  display: flex;
  list-style: none;
}

.footer {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #f8bfc7;
  font-size: 50px;
  color: #ffffff;
}
a:link,
a:visited {
  color: #e50043;
  text-decoration: none;
}
.main {
  width: auto; /* Укажите ширину */
  height: 950px; /* Укажите высоту */
  background-image: url("images/evian_origins_logo.png"); /* Путь к изображению */
  background-size: cover; /* Растянуть изображение, сохраняя пропорции */
  background-position: top; /* Центрирование */
  background-repeat: no-repeat;
  position: relative;
}
.main h1 {
  font-weight: 400;
  font-size: 100px;
  color: #e50043;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap; /* Чтобы заголовок не переносился */
}
